<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style/style_home.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <title>RSS App</title>
  </head>
  <body>
   
    <div class="container_header">
    <div class="navbar">
      <ul>
        <a href="/"><li>Home</li></a>
        <a href="/blog"><li>Blog</li></a>
        <a href="/contact"><li>Contact</li></a>
      </ul>
   
      <div class="slider">
        <br>   <br>
       <h1>Blog</h1>  
   
         <div class="container">
          <div>
            <p class="bar back intermediate" data-skill="Stories"></p></a>
            <br><br>
            <p id="texte">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam omnis a alias cupiditate numquam enim. Commodi unde vitae perferendis, iusto repellat expedita aspernatur ea omnis ullam porro harum totam minus?<br><br>
            </p>
            <br><br>
          </div>
          </div>
   
      </div>
      
    </div>
  </div>
</body>
      
    